@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "roboto", sans;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  animation: rotatBox 10s linear infinite;
}
@keyframes rotatBox {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container .box .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c05812cc;
  border-radius: 50%;
  animation: animate 5s linear infinite;
}
.container .box .circle:nth-child(2) {
  background: #bf1c08;
  animation-delay: -2.5s;
}

@keyframes animate {
  0% {
    transform: scale(1);
    transform-origin: left;
  }
  50% {
    transform: scale(0);
    transform-origin: left;
  }
  50.01% {
    transform: scale(0);
    transform-origin: right;
  }
  100% {
    transform: scale(1);
    transform-origin: left;
  }
}
.containerAB h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #444;
  text-transform: uppercase;
}
.container text {
  text-transform: uppercase;
  text-align: center;
  color: #607d8b;
  font-weight: 600;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #c05812cc;
  display: inline-block;
  width: fit-content;
}
.ajouter {
  justify-self: inherit;
  width: 80%;
  padding: 10px 20px;
  outline: none;
  font-weight: 300;
  border: 1px solid #607d8b;
  font-size: 15px;
  letter-spacing: 1px;
  background: transparent;
  border-radius: 30px;
  background-color: #c05812cc;
  margin-top: 20px;
  margin-left: 20px;
  border: none;
}
